.wrapper {
  width: 95%;
  padding: 2rem 6rem;
  margin: 0 auto 0;
}

header,
footer,
.base-grid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 0;
}

header .wrapper {
  padding-bottom: 0;
}

.svg-container {
  width: 100%;
  height: 10rem;
  margin: -1px 0 -1px;
}

.topline-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 3rem;
}

.main-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: flex-end;
}

a,
input,
button {
  transition: all 0.3s ease;
}

.main-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin: 1rem 0 0 4rem;
}

.main-nav a:hover,
.main-nav a:focus {
  color: $banner-light-purple;
  text-decoration: underline;
}

.main-nav a:active {
  color: $banner-dark-purple;
}

.intro-headshot {
  margin: .5rem 2rem 1rem 0;
  float: left;
  width: 20vw;
}

.half-grid {
  display: flex;
  justify-content: space-between;
}

.social-block,
.contact-form {
  flex-basis: 47.5%;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-image,
.project-desc {
  flex-basis: 47.5%;
}

.project-image {
  border-radius: 10px;
  overflow: hidden;
}

.project-links-container {
  display: flex;
  justify-content: flex-start;
}

.project-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  color: $banner-dark-purple;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  padding: .5rem 1rem;
  margin: 0 2rem 1rem 0;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
}

.project-link-white {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

.project-link:focus,
.project-link:hover {
  background-color: $banner-dark-purple;
  color: rgba(255, 255, 255, 1);
}

.project-link:active {
  background-color: darken($banner-orange, 30%);
  color: rgba(255, 255, 255, 0.8);
}

.skill-wrapper {
  display: flex;
  justify-content: space-around;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {
    margin: .5rem;
    padding: 0;
    position: relative;
  }
  & li::before {
    content: "";
    display: block;
    position: absolute;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background-color: lighten($banner-light-purple, 50);
    right: calc(100% + .5rem);
    top: .75rem;
  }
}

.social-links {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 2rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.social-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
}

.social-links a:hover,
.social-links a:focus {
  color: $banner-dark-purple;
}

.social-links a:active {
  color: $banner-light-purple;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0;
}

.form-input,
.form-message {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  padding: .75em;
  color: rgba(255, 255, 255, 1);
  font-size: .95rem;
}

.form-input:hover,
.form-input:focus,
.form-message:hover,
.form-message:focus {
  border: 2px solid $banner-dark-purple;
}

.form-message {
  height: 8rem;
}

.form-input-label,
.form-message-label {
  color: #ffffff;
  margin: 0.5rem 0 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.form-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.25em .75em;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: $banner-teal;
  font-family: 'Bree Serif', serif;
  font-size: 1.2rem;
}

.form-button:hover,
.form-button:focus {
  background-color: $banner-dark-purple;
  color: rgba(255, 255, 255, 1);
}

.form-button:active {
  background-color: $banner-light-purple;
}
