.wrapper {
  width: 95%;
  padding: 2rem 6rem;
  margin: 0 auto 0;
}

header,
footer,
.base-grid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 0;
}

.svg-container {
  width: 100%;
  height: 10rem;
}

.topline-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 3rem;
}

.main-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  margin: 1rem 0 0 4rem;
}

.main-nav a:hover,
.main-nav a:focus {
  color: $banner-light-purple;
}

.main-nav a:active {
  color: $banner-dark-purple;
}

.intro-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
}

.half-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-list li {
  flex-basis: 4rem;
  font-size: 4rem;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}

.social-links {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 2rem;
  &:last-of-type {
    margin-right: 0;
  }
}

.social-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
}

.social-links a:hover,
.social-links a:focus {
  color: $banner-dark-purple;
}

.social-links a:active {
  color: $banner-light-purple;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form-input,
.form-message {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  padding: .75em;
  color: rgba(255, 255, 255, 1);
  font-size: .95rem;
}

.form-message {
  height: 8rem;
}

.form-input-label,
.form-message-label {
  margin: 0.5rem 0 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.form-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.25em .75em;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  color: $banner-teal;
  font-family: 'Bree Serif', serif;
  font-size: 1.2rem;
}

.form-button:hover,
.form-button:focus {
  background-color: $banner-dark-purple;
  color: rgba(255, 255, 255, 1);
}

.form-button:active {
  background-color: $banner-light-purple;
}
