@media (max-width: 980px) {
  .project-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .project-image {
    order: 1;
  }

  .half-grid {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .intro-headshot {
    display: none;
  }

  .wrapper {
    width: 100%;
    padding: 1rem 2.5rem;
  }

  .topline-wrapper {
    flex-direction: column;
  }

  .main-nav {
    align-items: flex-start;
    margin-top: 2rem;
    & a {
      margin: 0 3rem 0 0;
    }
  }
}

@media (max-width: 500px) {
  .project-links-container {
    justify-content: space-between;
  }
  .project-link {
    margin-right: 0;
  }

  .skill-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .skillz h3,
  .toolz h3 {
    text-align: center;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & li {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 430px) {
  .project-links-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 1rem 2rem;
  }

  .topline-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 0;
    & li {
      margin-top: 1rem;
    }
    & a {
      margin-right: 0;
    }
  }

  h1 {
    font-size: 2.49rem;
  }

  h2 {
    font-size: 2.07rem;
  }

  h3 {
    font-size: 1.44rem;
  }

  h4 {
  font-size: 1.05rem;
  }

  .social-links li {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}