.polygon-dark { fill: url("#background-gradient"); }

.start-bg { stop-color: $banner-dark-purple; }

.end-bg { stop-color: darken($banner-dark-purple, 15); }

.section-1 {
  background: linear-gradient(to right, lighten($banner-light-purple, 10), $banner-light-purple 7%, $banner-light-purple 93%, darken($banner-light-purple, 10));
}

.polygon-section-1 { fill: url("#gradient-s1"); }

.start-1 { stop-color: lighten($banner-light-purple, 10); }

.left-margin-1 { stop-color: $banner-light-purple; }

.right-margin-1 { stop-color: $banner-light-purple; }

.end-1 { stop-color: darken($banner-light-purple, 10); }


.section-2 {
  background: linear-gradient(to right, lighten($banner-yellow, 15), $banner-yellow 7%, $banner-yellow 93%, darken($banner-yellow, 15));
}

.polygon-section-2 { fill: url("#gradient-s2"); }

.start-2 { stop-color: lighten($banner-yellow, 15); }

.left-margin-2 { stop-color: $banner-yellow; }

.right-margin-2 { stop-color: $banner-yellow; }

.end-2 { stop-color: darken($banner-yellow, 15); }


.section-3 {
  background: linear-gradient(to right, lighten($banner-orange, 15), $banner-orange 7%, $banner-orange 93%, darken($banner-orange, 15));
}

.polygon-section-3 { fill: url("#gradient-s3"); }

.start-3 { stop-color: lighten($banner-orange, 15); }

.left-margin-3 { stop-color: $banner-orange; }

.right-margin-3 { stop-color: $banner-orange; }

.end-3 { stop-color: darken($banner-orange, 15); }


.section-4 {
  background: linear-gradient(to right, lighten($banner-teal, 10), $banner-teal 7%, $banner-teal 93%, darken($banner-teal, 10));
}

.polygon-section-4 { fill: url("#gradient-s4"); }

.start-4 { stop-color: lighten($banner-teal, 10); }

.left-margin-4 { stop-color: $banner-teal; }

.right-margin-4 { stop-color: $banner-teal; }

.end-4 { stop-color: darken($banner-teal, 10); }