.section-1 {
  background-color: orange;
}

.section-2 {
  background-color: darkcyan;
}

.polygon-orange {
  fill: orange;
}

.polygon-dark {
  fill: orangered;
}

.polygon-blue {
  fill: darkcyan;
}
