.section-1 {
  background-color: $banner-dark-green;
  background: linear-gradient(to right, lighten($banner-dark-green, 10), $banner-dark-green 7%, $banner-dark-green 93%, darken($banner-dark-green, 10));
}

.section-2 {
  background-color: $banner-medium-green;
}

.polygon-section-1 {
  fill: url("#front-gradient");
}

.polygon-dark {
  fill: $banner-dark-blue;
}

.start {
  stop-color: lighten($banner-dark-green, 10);
}

.left-margin {
  stop-color: $banner-dark-green;
}

.right-margin {
  stop-color: $banner-dark-green;
}

.end {
  stop-color: darken($banner-dark-green, 10);
}

.polygon-section-2 {
  fill: $banner-medium-green;
}
