body {
  margin: 0;
  padding: 0;
  font-size: 125%;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-section {
  color: $banner-dark-purple;
}

.white-text,
.content-link-w {
  color: white;
}

.content-link-w:focus,
.content-link-w:hover,
.content-link-w:active {
  color: $banner-light-purple;
}

.content-link-p {
  color: $banner-dark-purple;
}

.content-link-p:focus,
.content-link-p:hover,
.content-link-p:active {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: $banner-dark-purple;
  line-height: 1.1;
}

h1 {
  margin: 4rem 0 0;
  font-size: 2.99rem;
}

h2 {
  margin: 0 0 1.5rem 0;
  font-size: 2.49rem;
}

h3 {
  margin: 1rem 0 0;
  font-size: 2.07rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  margin: 0 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.project-tools {
  margin: .5rem 0;
}

.project-text {
  margin: 2rem 0;
}