body {
  margin: 0;
  padding: 0;
  font-size: 125%;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-section {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
}

h1 {
  margin: 4rem 0 0;
}

h3 {
  margin: 1rem 0 0;
}

h2 {
  margin: 0 0 1.5rem 0;
}

p {
  margin: 0 0 1.5rem 0;
  line-height: 1.5;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.project-title {
  margin: 0;
  font-size: 2.1rem;
}

.project-tools {
  margin: .5rem 0;
  font-size: 1.2rem;
}

.project-text {
  margin: 2rem 0;
}