$banner-purple: rgba(88, 30, 89, 1);
$banner-dark-blue: rgba(37, 39, 89, 1);
$banner-dark-green: rgba(26, 90, 115, 1);
$banner-medium-green: rgba(22, 140, 140, 1);
$banner-light-green: rgba(60, 166, 136, 1);


/* Color Theme Swatches in RGBA */
$banner-dark-purple: rgba(67,5,113, 1);
$banner-light-purple: rgba(129,13,112, 1);
$banner-orange: rgba(255,148,37, 1);
$banner-light-orange: rgba(255,195,25, 1);
$banner-teal: rgba(0,129,138, 1);
