$banner-purple: rgba(88, 30, 89, 1);
$banner-dark-blue: rgba(37, 39, 89, 1);
$banner-dark-green: rgba(26, 90, 115, 1);
$banner-medium-green: rgba(22, 140, 140, 1);
$banner-light-green: rgba(60, 166, 136, 1);

