article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

svg {
  display: block;
  margin: -1px 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Color Theme Swatches in RGBA */
body {
  margin: 0;
  padding: 0;
  font-size: 125%;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-section {
  color: #430571;
}

.white-text {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: #430571;
  line-height: 1.1;
}

h1 {
  margin: 4rem 0 0;
  font-size: 2.99rem;
}

h2 {
  margin: 0 0 1.5rem 0;
  font-size: 2.49rem;
}

h3 {
  margin: 1rem 0 0;
  font-size: 2.07rem;
}

h4 {
  font-size: 1.73rem;
}

p {
  margin: 0 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

footer p {
  text-align: right;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.project-tools {
  margin: .5rem 0;
}

.project-text {
  margin: 2rem 0;
}

.wrapper {
  width: 95%;
  padding: 2rem 6rem;
  margin: 0 auto 0;
}

header,
footer,
.base-grid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 0;
}

header .wrapper {
  padding-bottom: 0;
}

.svg-container {
  width: 100%;
  height: 10rem;
  margin: -1px 0 -1px;
}

.topline-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 3rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-nav a {
  text-decoration: none;
  color: black;
  margin: 1rem 0 0 4rem;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #810d70;
  text-decoration: underline;
}

.main-nav a:active {
  color: #430571;
}

.intro-headshot {
  margin: .5rem 2rem 1rem 0;
  float: left;
  width: 20vw;
}

.half-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-block,
.contact-form {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
}

.project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-image,
.project-desc {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
}

.project-image {
  border-radius: 10px;
  overflow: hidden;
}

.project-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  color: #430571;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  padding: .5rem 1rem;
  margin: 0 2rem 1rem 0;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
}

.project-link-white {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.project-link:focus,
.project-link:hover {
  background-color: #430571;
  color: white;
}

.project-link:active {
  background-color: #3b0c00;
  color: rgba(255, 255, 255, 0.8);
}

.skill-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skillz,
.toolz {
  position: relative;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills-list li {
  margin: .5rem;
  padding: 0;
  position: relative;
}

.skills-list li::before {
  content: "";
  display: block;
  position: absolute;
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background-color: #f598e7;
  right: calc(100% + .5rem);
  top: .75rem;
}

.social-links {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links li {
  margin-right: 2rem;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.social-links a {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
}

.social-links a:hover,
.social-links a:focus {
  color: #430571;
}

.social-links a:active {
  color: #810d70;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 2rem 0 0;
}

.form-input,
.form-message {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  padding: .75em;
  color: white;
  font-size: .95rem;
}

.form-input:hover,
.form-input:focus,
.form-message:hover,
.form-message:focus {
  border: 2px solid #430571;
}

.form-message {
  height: 8rem;
}

.form-input-label,
.form-message-label {
  color: #ffffff;
  margin: 0.5rem 0 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.form-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.25em .75em;
  text-align: center;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: #00818a;
  font-family: 'Bree Serif', serif;
  font-size: 1.2rem;
}

.form-button:hover,
.form-button:focus {
  background-color: #430571;
  color: white;
}

.form-button:active {
  background-color: #810d70;
}

@media (max-width: 980px) {
  .project-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .half-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 650px) {
  .intro-headshot {
    display: none;
  }
  .wrapper {
    width: 100%;
    padding: 1rem 4rem;
  }
  .topline-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2rem;
  }
  .main-nav a {
    margin: 0 3rem 0 0;
  }
}

@media (max-width: 500px) {
  .project-links-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project-link {
    margin-right: 0;
  }
  .skill-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skillz h3,
  .toolz h3 {
    text-align: center;
  }
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills-list li {
    margin-right: 1rem;
  }
}

@media (max-width: 430px) {
  .project-links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 1rem 2.5rem;
  }
  .topline-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    margin-top: 0;
  }
  .main-nav li {
    margin-top: 1rem;
  }
  .main-nav a {
    margin-right: 0;
  }
  h1 {
    font-size: 2.49rem;
  }
  h2 {
    font-size: 2.07rem;
  }
  h3 {
    font-size: 1.44rem;
  }
  h4 {
    font-size: 1.20rem;
  }
}

.polygon-dark {
  fill: url("#background-gradient");
}

.start-bg {
  stop-color: #430571;
}

.end-bg {
  stop-color: #180228;
}

.section-1 {
  background: -webkit-gradient(linear, left top, right top, from(#af1298), color-stop(7%, #810d70), color-stop(93%, #810d70), to(#530848));
  background: linear-gradient(to right, #af1298, #810d70 7%, #810d70 93%, #530848);
}

.polygon-section-1 {
  fill: url("#gradient-s1");
}

.start-1 {
  stop-color: #af1298;
}

.left-margin-1 {
  stop-color: #810d70;
}

.right-margin-1 {
  stop-color: #810d70;
}

.end-1 {
  stop-color: #530848;
}

.section-2 {
  background: -webkit-gradient(linear, left top, right top, from(#ffd766), color-stop(7%, #ffc319), color-stop(93%, #ffc319), to(#cc9600));
  background: linear-gradient(to right, #ffd766, #ffc319 7%, #ffc319 93%, #cc9600);
}

.polygon-section-2 {
  fill: url("#gradient-s2");
}

.start-2 {
  stop-color: #ffd766;
}

.left-margin-2 {
  stop-color: #ffc319;
}

.right-margin-2 {
  stop-color: #ffc319;
}

.end-2 {
  stop-color: #cc9600;
}

.section-2-a {
  background: -webkit-gradient(linear, left top, right top, from(#ff4d22), color-stop(7%, #d42a00), color-stop(93%, #d42a00), to(#881b00));
  background: linear-gradient(to right, #ff4d22, #d42a00 7%, #d42a00 93%, #881b00);
}

.polygon-section-2-a {
  fill: url("#gradient-s2a");
}

.start-2-a {
  stop-color: #ff4d22;
}

.left-margin-2-a {
  stop-color: #d42a00;
}

.right-margin-2-a {
  stop-color: #d42a00;
}

.end-2-a {
  stop-color: #881b00;
}

.section-3 {
  background: -webkit-gradient(linear, left top, right top, from(#af1298), color-stop(7%, #810d70), color-stop(93%, #810d70), to(#530848));
  background: linear-gradient(to right, #af1298, #810d70 7%, #810d70 93%, #530848);
}

.polygon-section-3 {
  fill: url("#gradient-s3");
}

.start-3 {
  stop-color: #af1298;
}

.left-margin-3 {
  stop-color: #810d70;
}

.right-margin-3 {
  stop-color: #810d70;
}

.end-3 {
  stop-color: #530848;
}

.section-4 {
  background: -webkit-gradient(linear, left top, right top, from(#00b1bd), color-stop(7%, #00818a), color-stop(93%, #00818a), to(#005157));
  background: linear-gradient(to right, #00b1bd, #00818a 7%, #00818a 93%, #005157);
}

.polygon-section-4 {
  fill: url("#gradient-s4");
}

.start-4 {
  stop-color: #00b1bd;
}

.left-margin-4 {
  stop-color: #00818a;
}

.right-margin-4 {
  stop-color: #00818a;
}

.end-4 {
  stop-color: #005157;
}
/*# sourceMappingURL=styles.css.map */